[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[safe]
	directory = /root
[user]
	email = 2469suhara@gmail.com
	name = ponponnsan
